<div class="md:container px-4 mx-auto">
  <h1 class="text-6xl font-bold text-slate-100 text-center">Workouts</h1>
  
  <div class="grid grid-flow-col gap-4 mx-auto">
    <% @workouts.each do |workout| %>
      <div class="max-w-md my-4 bg-slate-900 rounded-b-lg text-center">
        <p class="bg-red-500 rounded-t-lg font-bold text-slate-100"><%= workout.title %></p>
        <p class="m-1 text-slate-100">Bro made an empty workout :skull:</p>  

        <div class="inline-flex items-baseline">
        <%= button_to "Edit", edit_workout_path(workout), method: :get, class: "text-slate-100 px-8" %>
        <%= button_to "Delete", workout_path(workout), method: :delete, class: "text-red-500 hover:text-red-700 transition-colors duration-300  px-8" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="md:container p-16 mx-auto text-center">
    <%= link_to "+ New", new_workout_path, class: "text-slate-100 text-4xl font-bold px-4 py-2 bg-red-500 rounded-full" %>
  </div>
</div>
