<div class="md:container">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="mx-auto text-center flex items-center justify-center mt-5 sm:mt-20">
    <img src="/assets/icon.png" class="w-[30px] sm:w-[80px]"></img>
    <p class="text-white ml-4 font-bold font-montserrat uppercase text-3xl sm:text-7xl">Routines</p>
  </div>


  <div class="text-center p-4">
      <%= link_to "New routine", new_routine_path, class: "rounded-3xl hover:bg-carnage-red-pressed transition ease-in-out py-2 px-8 text-white bg-carnage-red text-lg" %>
  </div>

  <div class="mx-2 text-white bg-carnage-secondary p-6 font-montserrat mt-2 rounded-3xl">
      <%= render partial: 'routines/routine', collection: @routines %>
  </div>

  <div id="routines" class="min-w-full">
  </div>
</div>
