<div class="rounded-lg px-4 py-2 max-w-md bg-zinc-800">
    <p class="text-xl font-extrabold text-center text-slate-100"><%= @title %></p>
    <p class="text-slate-100 justify-around pb-3 "><%= @contents %></p>
</div>
