  <div class="rounded-lg px-4 text-center max-w-md bg-zinc-800">
    <p class="text-xl font-extrabold text-slate-100 py-3"><%= @title %></p>
    <p class="text-slate-100 text-justify pb-3"><%= @contents %></p>
    </div>
