<script>
  function closeModal() {
      const dialog = document.getElementById('dialog');
      dialog.close();
  }
  /*
  function addExercises() {
    closeModal();

    // BRUH
    var dialog = document.getElementById('dialog');
    
    var list = document.getElementById('ex_list');
    var choices = document.getElementsByName('ex_choice');

    var i, checkbox, node, li;
    for(i = 0; i < choices.length; i++) {
      var elem = choices[i];
       // this is some of the worst code i've ever written.... but hey, it works!
      if(elem.firstChild.nextSibling.nextSibling.nextSibling.checked) {
        li = document.createElement('li');
        li.setAttribute("class", "ml-4 ")
        
        node = document.createTextNode(choices[i].firstChild.nextSibling.textContent);

        li.appendChild(node);
        ex_list.appendChild(li);
      }
    }
  }
  */
</script>

<dialog id="dialog" class="p-2 bg-zinc-950 rounded-xl w-1/5 outline outline-4 outline-teal-300">
    <div class="flex justify-between">
      <p class="text-slate-100 text-2xl font-extrabold mt-1 ml-1"><%= @title %></p>
    </div>
    <br>
    <div class="px-1 mb-3 mx-auto w-full text-center max-h-64">
      <%= content %>
    </div>
</dialog>
