<div class="bg-[#212125] text-white mb-2 p-2 rounded-lg"> 
  <div class="flex justify-between">    <!--Image in the future-->
    <p class="font-bold text-md"><%= @exercise.name %></p>
  </div>
  <% @exercise.muscle_groups.each do |mg| %>
    <p class="ml-2 text-sm inline><%= mg.name %></p>
  <% end %>

  <% if @exercise.emphasis.presence %>
    <p class="ml-2 text-sm"> (<%= @exercise.emphasis %>)</p>
  <% end %>

  
  <div class="gap-2 mt-2 ml-2">
      <%= content %>
  </div>
</div>

