<div class="bg-zinc-950 outline outline-1 outline-slate-500 mb-2">
  <div class="inline-flex">
    <!--Image in the future-->
    <p class="font-bold text-slate-100 text-md"><%= @title %></p>
  </div>
  <% @muscleGroup.each do |mg| %>
    <p class="ml-2 font-bold text-sm text-slate-500"><%= mg.name %></p>
  <% end %>

  <p class="font-bold ml-2 text-sm text-slate-500"> (<%= @emphasis %>)</p>
</div>
