<div id="exercise" class="bg-zinc-950 mb-2 hover:bg-zinc-800">
  <div class="flex justify-between">
    <!--Image in the future-->
    <p class="font-bold text-slate-100 text-md"><%= @title %></p>
      <input type="checkbox" class="text-red-500 justify-end"></input>
  </div>
  <% @muscleGroup.each do |mg| %>
    <p class="ml-2 font-bold text-sm text-slate-500"><%= mg.name %></p>
  <% end %>

  <p class="font-bold ml-2 text-sm text-slate-500"> (<%= @emphasis %>)</p>
</div>
