<div class="inline-flex items-baseline navbar-component text-slate-100 hover:text-red-500 transition-colors duration-300">
  <a href="<%= @href %>" class="fa fa-home<%= @icon %>"></a>
  <p><%= @title %></p>
</div>
