<div class="navbar-component flex">
  <a href=" <%=@href %>" class="font-montserrat text-md text-carnage-red ease-in-out transition hover:text-carnage-red-pressed font-semibold ml-2"><%= @title %></a>
</div>
