<div class="md:container px-4">
  <h1 class="text-6xl font-bold text-slate-100 text-center">Ah yes, the about page.</h1>
  <h3 class="text-3xl font-bold text-slate-600 text-center my-3">Discipline is the path to freedom.</h3>
  <div class="grid grid-flow-col gap-4 w-2/3">
    <div class="max-w-md my-4 bg-slate-900 rounded-b-lg">
      <div class="bg-red-500 rounded-t-lg text-center font-bold text-slate-100">Huh?</div>
        <p class="m-1 text-slate-100">Will you finally ditch the excuses and face adversity head on? Seriously.</p>
    </div>

    <div class="max-w-md my-4 bg-slate-900 rounded-b-lg">
      <div class="bg-red-500 rounded-t-lg text-center font-bold text-slate-100">Huh?</div>
      <p class="m-1 text-slate-100">Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
    </div>
</div>
