<div class="md:container">
  <div class="text-slate-100 inline-flex items-center">
    <img class="object-scale-down h-20 w-20 rounded-full mr-3" src="https://i.pinimg.com/564x/b1/be/8f/b1be8fe6cd9e67ae26a480a1040c3733.jpg"></img>
    <p class="text-4xl text-slate-100 font-extrabold text-center"><%= current_user.username %></p>
  </div>
  <br>

  <p class="text-4xl mt-3 font-extrabold text-slate-100">Statistics</p> 
  <div class="grid grid-cols-3 grid-flow-col my-5 mx-auto">
    <%= render(StatisticsViewComponent.new(topText: "So far, you've got", midText:"#{current_user.workouts.count}", bottomText: "Keep up the good work.")) %>
    <%= render(StatisticsViewComponent.new(fg:"bg-red-400", topText: "Weekly volume", midText:"#{current_user.workouts.count}", bottomText: "Some day you'll be able to lift a black hole!")) %>
    <%= render(StatisticsViewComponent.new(topText: "Weekly hard sets", midText:"[weekly hard sets]", bottomText: "\"5 MORE REPS - Tom Platz\"")) %>
  </div>

