  <div class"container mx-auto w-screen">
    <div class="mx-auto text-center flex items-center justify-center mt-5 sm:mt-20">
      <img src="/assets/icon.png" class="w-[30px] sm:w-[90px]"></img>
      <p class="text-white ml-4 font-bold font-montserrat uppercase text-3xl sm:text-8xl">Carnage</p>
    </div>
    <br>
    <div class="mx-auto justify-center flex gap-5 sm:gap-10 font-montserrat font-semibold">
      <% if user_signed_in? %>
        <%= link_to "Logbook", logbook_path(id: current_user.id), class: "rounded-3xl hover:bg-carnage-red-pressed transition ease-in-out py-2 px-8 text-center text-white bg-carnage-red text-lg" %>
        <%= link_to "Statistics", logbook_path(id: current_user.id), class: "rounded-3xl py-2 w-44 text-center hover:bg-carnage-secondary-pressed transition ease-in-out text-white bg-carnage-secondary text-lg" %>

      <% else %>
        <div class="bg-carnage-secondary w-[400px]">
          <p class="text-white py-2 text-center rounded-3xl font-montserrat font-semibold outline-dashed outline-carnage-red">New here? Feel free to check out #about</p>
        </div>

      <% end %>
    </div>
  </div>
