  <div class"container mx-auto w-screen">
    <h1 class="text-8xl text-slate-100 font-extrabold text-center">Carnage</h1>
    <h2 class="text-3xl text-center text-slate-300 m-5">Leave nothing in the tank.</h2>
  </div>
