<div class="md:container">
  <div class="mx-auto bg-white rounded-lg p-3 max-h-screen overflow-auto">
    <p class="text-4xl mb-2 text-gray-700 font-extrabold">Exercises</p>
    
    <div class="ml-2">
      <% @exercises.each do |ex| %>
        <%= render ExerciseViewComponent.new(exercise: ex) %>
      <% end %>
    </div>
  </div>
</div>
