<% flash.each do |type, msg| %>
  <div data-controller="flash" class="flex flex-shrink-0 absolute right-20">
  <div class="p-3 bg-carnage-secondary max-w-none min-w-32 mb-4 rounded-3xl">
    <p class="font-montserrat text-white font-semibold"><%= msg %></p>
  </div>
  </div>
<% end %>